.formhome-container {
    background-color: #F7F7F7;
    border-radius: 18px;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 30px;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group label {
    font-weight: 500;
    margin-bottom: 5px;
    white-space: nowrap;
    text-align: center;
    width: 100%;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.input-responsavel {
    grid-column: 1 / -1;
    /* ocupa toda a linha */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-icon-wrapper {
    position: relative;
    width: 100%;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
    /* para não atrapalhar o clique no input */
}

.input-with-icon {
    padding-left: 40px !important;
    /* espaço pro ícone */
}

select option {
    padding-left: 0 !important;
}

.buttons-container {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    margin-top: 18px;
}

input {
    border-radius: 12px !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}