body {
    margin: 0;
    background-color: #212529;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    min-height: 100vh;
    background: none;
}

.left-side {
    max-width: 600px;
    width: 100%;
}

.tabela-wrapper {
    overflow-x: auto;
    max-width: 50%;
}

.home-container-atendente {
    background-color: #ffafcc;
}

.home-container-garcom {
    background-color: #2a9d8f;
}

.home-container-gerente {
    background-color: #e76f51;
}

.home-container {
    transition: background-color 0.6s ease-in-out;
    min-height: 100vh;
}

.form-img-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap;
}


.form-container {
    flex: 1;
    max-width: 400px;
    overflow-x: auto;
}

.img-container {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.img-box {
    max-width: 400px;
    height: auto;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

footer {
    background-color: #212529;
    color: white;
    text-align: center;
    transition: background-color 0.5s ease-in-out;
}

.footer {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10px;
}

.footer-transition {
    height: 43px;
}

.footer-transition.atendente {
    background: linear-gradient(to bottom, #1f1a1c, #212529);
}

.footer-transition.garcom {
    background: linear-gradient(to bottom, #2a9d8f, #212529);
}

.footer-transition.gerente {
    background: linear-gradient(to bottom, #e76f51, #212529);
}

.mensagem-erro {
    background-color: #e74c3c;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
    max-width: 600px;
}