/* Footer container */
.footer {
    width: 100%;
    height: 20vh;
    background-color: #6278F7;
    display: flex;
    align-items: center;
    /* Center content vertically */
    position: relative;
    /* To ensure other content inside can be positioned well */
}

/* Background wrapper */
.background {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    /* Allow the background to sit in the background */
    top: 0;
    left: 0;
}

/* Image inside the footer */
.fundo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensure the image covers the area without distortion */
}

/* Icons container */
.icons {
    display: flex;
    justify-content: space-around;
    /* Distribute icons with space between them */
    align-items: center;
    /* Ensure icons are vertically centered */
    width: 35%;
    /* Adjust width as needed to control the size of the icon container */
    z-index: 1;
    /* Ensure icons stay above the background image */
}

.icons img {
    width: 20px;
    /* Adjust the size of each icon */
    height: 20px;
    /* Adjust the size of each icon */
}

.center-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.center-icon img {
    width: 130px;
    height: 50px;
}

.text {
    color: #FFFF;
    position: absolute;
    left: 180vh;
}