.tabela-container {
    width: 100%;
    overflow-x: auto;
    margin-top: 2rem;
    border-radius: 18px;
}

.table {
    width: 100%;
    min-width: 400px;
}



.tabela-personalizada {
    border-radius: 12px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    overflow: hidden;
    /* para aplicar o border-radius corretamente em tabelas */
}

.tabela-personalizada th,
.tabela-personalizada td {
    border: none;
}